* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #f8f5f2;
  --background-color-second: #078080;
  --text-color: #f8f5f2;
  --paragraph-color: #2d334a;
}

body {
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: var(--paragraph-color);
}

header {
  padding: 2rem;
  text-align: center;
  background-color: var(--background-color-second);
  color: var(--text-color)
}

main {
  min-height: 80vh;
}

footer {
  width: 100%;
  text-align: center;
}

button {
  background-color: var(--background-color-second);
  color: var(--text-color);
  cursor: pointer;
  border: none;
}