* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #fffffe;
  --background-color-button: #ffd803;
  --button-text-color: #272343;
  --paragraph-color: #2d334a;
}

body {
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: var(--paragraph-color);
}

button {
  background-color: var(--background-color-button);
  color: var(--button-text-color);
  cursor: pointer;
  border: none;
  padding: .5rem 1.5rem;
}

header {
  text-align: center;
  border-bottom: 1px solid rgb(161, 156, 156, .7);
  padding: 2rem 0;
}

footer {
  border: 1px solid black;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 15pt;
  padding: 1.5rem 0;
}

.catalogButton {
  text-align: center;
  margin-top: 4rem;
}